@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to iMovies</h1>
    <p>Your ultimate source for discovering and exploring the world of movies. Whether you're a fan of action-packed
        blockbusters or deep, thought-provoking dramas, iMovies has something for everyone.</p>
    <p>Browse our collection, read reviews, and stay updated with the latest movie releases. Get ready to dive into an
        exciting cinematic journey.</p>
    <p>Start exploring and find your next favorite movie today!</p>
</div>
